nav .checked-img{
    animation: 1s  forwards navigation;
}

@keyframes navigation{
    from{
        
	    transform: translate(0.04em, 0.3em);
	    
    }
    to{
        transform: translate(-0em, 0.2em) scale(1.5);
    }
}

nav .unchecked-img{
    animation: 1s  forwards navigation2;
}

@keyframes navigation2{
    from{
        transform: translate(-0em, 0.2em) scale(1.5);
    }
    to{
        transform: translate(0.04em, 0.3em) scale(1);
        
    }
}

nav .checked{
    animation: 1s  forwards checked-button-in;
}

@keyframes checked-button-in{
    from{
        transform: translate(0em, 0em) ;
        border-color:rgb(113, 109, 105);
    }
    to{
        transform: translate( 1em, 0em);
        border-color:black;
    }
}

nav .unchecked{
    animation: 1s  forwards checked-button-out;
}

@keyframes checked-button-out{
    from{
        transform: translate( 1em, 0em);
        border-color:black;
    }
    to{
        transform: translate(0em, 0em) ;
        border-color:rgb(113, 109, 105);
    }
}