* {
	box-sizing: border-box;
	/* referenced https://codyhouse.co/nuggets/custom-cursor */
	cursor: url('../img/cursor.svg') 20 20, auto;
	margin:auto;
}  

/*  BOXES */

.box-wrap{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	gap:1em;
}

.box-row{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction: row;
}

.box-column{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*---- BODY ----*/
.body-box{
	margin-left:calc(20em + 8vw);
	margin-right:5vw;
	margin-bottom:5em;
	margin-top:13em;
	gap:1.2em;
	
}

section{
	gap:1em; 
	width:100%;
}

.element{
    border-style:solid;
    border-color:black;
	border-width:0.1em;
	padding:1em;
	gap:1em;
	width:100%;
}


.rendered{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	flex-wrap: wrap;
	align-self:center;
	border-style:dotted;
	padding:1em;
	width:fit-content;
	gap:1em;
}

/*---- HEADER ----*/


.header-title-box{
	background-color: rgb(255, 255, 255);
	text-align: right;
	
	padding:2.5em;
	padding-right: 4.5em;
	border-style:solid;
	border-color:black;
	border-width: 0.1em;
	position:absolute;
	top:0;
	right:5vw;
}

.header-text-box{
	padding-right:2em;
	padding-top:1em;
	padding-bottom:1em;
	text-align: right;
	position:absolute;
	top:0;
	right: calc(5vw + 20em);
}

.header-box{
  position: absolute;
  top:0;
  right:0;
  width:95vw;
  height:8em;
  border-bottom: solid black 0.1em;
  border-left:solid black 0.1em;
  z-index: -1;
}
/*---- //HEADER ----*/



/*---- NAVIGATION BAR ----*/
nav{
	position:fixed;
	height:50vh;
	min-height:15em;
	max-height:32em;
	width:18em;
	
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	align-items: flex-end;
	
	left:5vw;
	gap:1em;
}

nav .nav-button{
	display:block;
	width:10em;
	text-align:right;
}


nav img{
	position:absolute;
	left: 0;
	transform: translate(0.04em, 0.3em);
	max-width:3em;
}
/*---- // NAVIGATION BAR ----*/




.visuals{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-wrap: row;
	-ms-flex-wrap: row;
	flex-wrap: row;
	gap:1em;
}
.box-color{
	width:3em;
	height:3em;
}
.box-color:nth-of-type(1){
	background-color:black;
}
.box-color:nth-of-type(2){
	background-color:rgb(113, 109, 105);
}

.box-color:nth-of-type(3){
	background-color:rgb(241, 237, 234);
}
.box-color:nth-of-type(4){
	background-color:white;
	border-style: solid;
	border-color:black;
}
.box-color:nth-of-type(5){
	background-color:white;
	border-style: dotted;
	border-color:black;
}


.two-img{
	width:48%;
}
.three-img{
	width:30%;
}
.four-img{
	width:23%;
}
.gallery{
	gap:1em;
	align-items: flex-start;
}
.gallery-img{
	max-width: 30%;
	
}



/*---- MEDIA QUERIES ----*/
@media(max-width:58em){
	.header-box{
		width:100%;
	}
}
@media(max-width:52.8em){
	.header-box{
		height:9em;
	}
}
@media (max-width:50em){
	.header-title-box{
		right:0;
		width:100%;
		min-height:5em;
	}
	.header-box{
    height:18em;
    
 	}
	.header-text-box{
		right:0;
		top:11em;
	}
	.body-box{
		margin-top:35em;
		margin-left:5vw;
		gap:1em;
	}
	nav{
		position:absolute;
		top:19em;
		max-height:16em;
	}
}
@media(max-width:30.2em){
	.header-box{
		height:20em;
	}
  	nav{
		top:21em;
	}
  	.body-box{
		margin-top:38em;
	}
	.two-img{
		width:100%;
	}
}
@media(max-width:20.2em){
	.header-line{
		top:9em;
	}
	.header-img{
		top:7.5em;
	}
	.header-title-box{
		
	}
	.header-text-box{
		top:13.5em;
	}
	.header-box{
		height:22em;
	}
	nav{
		top:23em;
	}
	.body-box{
		margin-top:40em;
	}
}